* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 2em auto;
}
// Grid de 4 columnas
div {
    width: 23%;
    height: 20ren;
    background-color: papayawhip;
    float: left;
    padding: 2em;
    border: lpx solid;
}
div:not(:last-child) {
    margin-right: 2%;
}


.clearfix {
    clear: both;
}

// Extend
.selectorA {
    color: red;
}

.selectorA:hover {
    text-decoration: underline;
}

.selectorB {
    font-size: 24px;
    background-color: salmon
}

.selectorC {
    @extend .selectorA, .selectorB;
    color: white;
    border: 1px solid #333;
}

.selectorD {
    @extend .selectorA:hover, .selectorB;
    color: white;
    border: 1px solid #333;
}