*, *::before, *::after, *:before, *:after { 
    box-sizing : border-box;
    }

body {
    width: 90%;
    margin: 2em auto;
}

header {
    background-color: maroon;
    color : papayawhip;
    width : 100%;
    /* Hace que el tamaño del header englobe los márgenes del h1*/
    /*float:left;   
    height: 3em;*/
    padding-left: 1em;
    margin: 2em 0em;
}

body>section, body>div {
    float: left;
}

body>section {
    width: 69%;
    margin-right: 2%;
    padding: 2em;
}

body>div {
    width: 29%;
    padding: 1em;
}

.clear_fix {
    clear: both;
}

article>div {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: gainsboro
}


article p:nth-of-type(1) {
    margin-top: 0;
}

footer {
    border-top: 1px solid maroon;
    padding: 2em 1em;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767px) {

    *, body {
        color: blueviolet;
    }
    
}