*{
	margin: 0;
	padding: 0;
}
header{
	text-align: center;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #bbb;
	text-align: center;
}

nav{
	overflow: auto;
	display: inline-block;
}

	nav .boton{
		float: left;
		margin: 5px;
		border:1px solid black;
		padding: 5px;
	}
	/*Reubicamos el contenedor de las im치genes*/
	nav .boton + figure{
		position: absolute;
		left: 36%;
		top: 40%;
		margin-left: 300px;
		transition: 1s;
	}	
	/* Damos tama침o 0 a las im치genes*/
	nav .boton + figure img{
		height: auto;
		width: 0;
		transition: 3s all;
	}

	/*Cambios en el "boton" al pasaar el rat칩n*/

	nav .rotacion:hover{
		-webkit-transform: rotate(90deg);
	}

	nav .boton:hover{
		background-color:maroon;
		box-shadow: 0px 0px 5px black;
		cursor: pointer;
	}

	.boton:hover + figure {
		margin-left: 0px;
	}

	.boton:hover + figure img{
		width: 400px;
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}

	/*
#main{
	overflow: auto;
	text-align: center;
}



*/